body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#1b1b1b,#070644,#ffee01) ; /*fondo*/
}

#recover-form {
    width: 350px;
    margin: 200px auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 28px;
    
}

label {
    display: block;
    margin-bottom: 10px;
    
}

input[type="email"] {
    width: 90%;
    height: 30px;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #ccc;
    
}

button[type="submit"] {
    width: 100%;
    height: 40px;
    background-color:  #b2dd17;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #b2dd17;
}
