<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/devolucion.css">
    <title>Devoluciones</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <img src="/images/tci.png">
            <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="my-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Item 1 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Item 2</a>
                    </li>
                </ul>
            </div>
        </nav>
    <div class="container">
        
    <br/>
    <br/>
    <br/>
    <a href="/taller/entrega" class="btn btn-primary" type="button">Subir entrega</a>
    <br/>
    <br/>
    <table id="table" class="table table-secondary">
    <thead class="thead-secondary">
    <tr>
        
        <th>Id</th>
        <th>Herramienta</th>
        <th>fecha_devolucion</th>
        <th>observaciones</th>
        <th>estado_entrega</th>
       
    </tr>
</thead>
<tbody>
    </tbody>
</table>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script >
    $(document).ready(function(){
        console.log('buscando devoluciones')

        $.ajax({
            url: '/One_T/verdevoluciones',
            type: 'GET',
            success: function(data){
                console.log(data)
                var html;
                for(var i=0; i<data.length; i++){
                    html=`
                    <tr>
                        <td>${data[i].prestamo_id}</td>
                        <td>${data[i].nombre_herramienta}</td>
                        <td>${data[i].fecha_devolucion}</td>
                        <td>${data[i].observaciones}</td>
                        <td>${data[i].estado_entrega}</td>
                        
                        </tr>
                    `

                    $('#table').append(html)
                }
                
            },
            error: function(error){
                console.log(error)
            }
        });
    });

</script>
</body>
</html>