<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/Techbox/public/stylesheets/about.css'>
    <script>
        function redirectToHome() {
            window.location.href = '/taller'; // Cambia esta URL a la ruta de tu página principal
        }
    </script>
</head>
<body>
    <button onclick="redirectToHome()">Ir a la Página Principal</button>
    <h1>Descripción del Proyecto: </h1>
    <p>Breve resumen del proyecto, incluyendo su objetivo principal y la problemática que aborda.</p>

        <h1>Tu Rol:</h1>
        <p>Explica cuál es tu función en el proyecto y qué responsabilidades tienes.</p>
        
        <h1> Habilidades y Contribuciones:</h1> 
        <p>Menciona las habilidades específicas que aportas y cómo contribuyes al éxito del proyecto.</p>
        
        <h1>Impacto o Resultados Esperados:</h1> <p>Si es posible, incluye qué impacto esperas tener con el proyecto o los resultados que buscas lograr.</p>

        
</body>
</html>