<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contrase침a</title>
    <link rel="stylesheet" href="/stylesheets/contra.css">
</head>
<body>
        <!-- <button  type="submit">Enviar</button> -->
        <!-- aca va la ruta en el form donde esta el action proba -->
    <form id="recover-form" action="/users/correo" method="post">
        
        <label for="email">Correo electr칩nico:</label>
        <input type="email" id="email" name="email">
        <!-- aca no se ocupa onclik solo se pone de tipo sunmit y hay que poerle la action al formulario en la acion va la ruta -->
        <button type="submit">Enviar</button>
    </form>
    <!-- <script>
        const form = document.getElementById('recover-form');
const emailInput = document.getElementById('email');

form.addEventListener('submit', (e) => {
    e.preventDefault();
    const email = emailInput.value;
    // Enviar correo electr칩nico con un enlace de restablecimiento de contrase침a
    // ...
});
    </script> -->
</body>
</html>