<form method="post" action="">
    <div class="form-group">
        <label for="my-input">Herramienta</label>
        <input id="my-input" class="form-control" type="text" name="Nombre">
    </div>
    <div class="form-group">
        <label for="my-input">Fecha de prestamo</label>
        <input id="my-input" class="form-control" type="text" name="Nombre">
    </div>
    <div class="form-group">
        <label for="my-input">Estudiante</label>
        <input id="my-input" class="form-control" type="text" name="Nombre">
    </div>
    <div class="form-group"></div>
        <label for="my-input">Tipo de heramienta</label>
        <input id="my-input" class="form-control" type="text" name="Nombre">
    </div>
    <button class="btn btn-primary" type="submit">Guardar</button>
</form>