<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/prestamo.css">
    <title>Prestamos</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <img src="/images/tci.png">
            <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="my-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">sugerencias <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Recomendaciones</a>
                    </li>
                </ul>
            </div>
        </nav>
    <div class="container">
    
        <a href="/taller/crearp" class="btn btn-primary" style="display: none;" type="button">Crear un Prestamos</a>
        <br/>
        <br/>
        <table id="table" class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th>Id_prestamo</th>
                    <th>Herramienta</th>
                    <th>Fecha_prestamo</th>
                    <th>Estudiante</th>
                    <th>Tipo_herramienta</th>
                  
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script >
        $(document).ready(function(){
            console.log('buscando prestamo')
    
            $.ajax({
                url: '/One_T/verPrestamo',
                type: 'GET',
                success: function(data){
                    console.log(data)
                    var html;
                    for(var i=0; i<data.length; i++){
                        html=`
                         <tr>
                            <td>${data[i].prestamo_id}</td>
                            <td> ${data[i].nombre_herramienta}</td>
                            <td> ${data[i].fecha_prestamo}</td>
                            <td>${data[i].nombre_estudiante}</td>
                            <td>${data[i].tipo_herramienta}</td>
                            
                        </tr>
                        `
    
                        $('#table').append(html)
                    }
                    
                },
                error: function(error){
                    console.log(error)
                }
            });
        });
    
    </script>
</body>
</html>
