<center>
    <form method="post" action="/taller">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="d-flex justify-content-center align-items-center" style="height: 100vh; width: 100%;">
            <div class="card" style="width: 50%; box-shadow: 0px 0px 15px rgb(245, 245, 243); border-radius: 10px;">
                <div class="card-header" style="background-color: #010008; color: #e7e7e3; font-weight: bold; font-size: 20px; border-top-left-radius: 10px; border-top-right-radius: 10px; text-align: center;">
                    datos de la herramienta
                </div>

                    <div class="card-body" style="padding: 30px;">

                        <input type="hidden" name="id" value="">

    
                        <div class="form-group" style="margin-bottom: 20px;">
                            <label for="herramienta" style="font-weight: bold;">Nombre</label>
                            <input  id="herramienta" class="form-control" type="text" name="Nombre"  placeholder="Ingresa el nombre de la herramienta" style="border-radius: 5px; padding: 10px;" >
                        </div>

                        <div class="form-group" style="margin-bottom: 20px;">
                            <label for="herramienta" style="font-weight: bold;">Estado</label>
                            <input id="herramienta" class="form-control" type="text" name="Estado"  placeholder="Ingresa el estado de la herramienta" style="border-radius: 5px; padding: 10px;">
                        </div>
    
                        <button class="btn btn-primary btn-block" type="submit" style="border-radius: 5px; padding: 10px; font-weight: bold; width: 100%;">Guardar</button>
                        <button class="btn btn-primary btn-block" type="button" onclick="window.location.href='/taller/herramientas'" style="border-radius: 5px; padding: 10px; font-weight: bold; width: 100%;">Cancelar</button>
                    </div>
                </div>
            </div>
        </form>

    
    <style>
        body {
            background: linear-gradient(#1b1b1b,#070644,#ffee01) ; /*fondo*/
        }
        .card {
            background: linear-gradient(#131003,#0e0d61) ;  /* fondo del cuadro */
            transition: .5s;
    }

.btn:hover {
    background-color: #d9f84f; 

}
   /* Cambiar color de texto en el formulario */
    .card-body label, 
    .card-body input::placeholder {
        color: #bbbdbe; /* Color de la letra y del placeholder */
    }

    .btn:hover {
        background-color: #bae00d;
    }
    </style> 
</center>

