<div class="card"></div>
    <div class="card-header">
        
    </div>
    <div class="card-body">
        <h5 class="card-title">Datos de la herramienta</h5>
        <p class="card-text">

<form method="post" action="/">

    <input type="text" name="id" value="<%=herramienta.id%>">

    <div class="form-group">
        <label for="my-input">Nombre</label>
        <input id="my-input" value="<%=herramienta.nombre%>" class="form-control" type="text" name="nombre">
    </div>

    <div class="form-group">
        <label for="my-input">Estado</label>
        <input id="my-input" value="<%=herramienta.estado%>" class="form-control" type="text" name="estado">
    </div>

    <button class="btn btn-secondary" type="submit">Actualizar</button>
    <a class="btn btn-secondary" href="/">Cancelar</a>

</form>

</p>
</div>
</div>