<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/inventario.css">
    <title>Inventario</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <img src="/images/tci.png" >
    <div id="my-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" >Inventario de herramientas<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<br/>
<br/>
<a href="/taller/herra" class="btn btn-primary" type="button">Agregar nueva herramienta</a>   <a href="/One_T" class="btn btn-primary" style="text-align: right;" type="button">Salir</a>  
<br/>
<br>
    <table id="table" class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Cantidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        <!-- <tr>
                <td> 1 </td>
                <td> maual</td>
                <td> martillo</td>
                <td> estado</td>
                <td> 12</td>
            <td>
            <div class="btn-group-vertical" role="group" aria-label="b-form">
            <button class="btn btn-warning" type="submit">Editar</button>
            </div>
                |
            <div class="btn-group-vertical" role="group" aria-label="b-form">
            <button class="btn btn-danger" type="submit">Eliminar</button> 
            </div>
            </td>
        </tr> -->
    </tbody>
</table>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script >
    $(document).ready(function(){
        console.log('buscando herramientas')

        $.ajax({
            url: '/One_T/verHerramienta',
            type: 'GET',
            success: function(data){
                console.log(data)
                var html;
                for(var i=0; i<data.length; i++){
                    html=`
                    <tr>
                        <td>${data[i].id}</td>
                        <td>${ data[i].tipo_nombre }</td>
                        <td>${data[i].nombre }</td>
                        <td>${data[i].estado }</td>
                        <td>${data[i].cantidad}</td>
                        <td>
                            <div class="btn-group-vertical" role="group" aria-label="b-form">
                                <button class="btn btn-warning" type="submit">Editar</button>
                                </div> 
                                | 
                                <div class="btn-group-vertical" role="group" aria-label="b-form">
                                    <button data-id=${data[i].id} class="btn btn-danger" type="submit">Eliminar</button>
                                     </div>
                                     </td>
                    </tr>
                    `

                    $('#table').append(html)
                }
                
            },
            error: function(error){
                console.log(error)
            }
        });
    });

</script>

</body>
</html>