<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Inventario de herramientas</title>
</head>
<body>
    <br/>
    <br/>
    <a href="/taller/herra" class="btn btn-primary" type="button">Agregar nueva herramienta</a>
    <br/>
    <br/>
    
    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            
            <% if (typeof herramienta !== 'undefined') { %>
             
            <% for(let herramientas = 0; herramientas < herramienta.length; herramientas++){%>
                <tr>
                <td><%= herramienta[herramientas].id_herramienta%> </td>
                <td> <%= herramienta[herramientas].Nombre%> </td>
                <td> <%= herramienta[herramientas].Estado%> </td>
                <td>Editar | Borrar </td>
            </tr>
         <% } %>
         <% } %>

        </tbody>
    </table>

</body>
</html>